@()(implicit request: RequestHeader)

@main {
    
    <div class="page-header">
        <h1>Welcome at Code, Cheese & Chocolate <small>Do you like it ?</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> 
            <span></span>
        </p>
    </div>
    
    <div id="stats" >
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Conference</th>
            </tr>
          </thead>
          <tbody id="stats_entries">
          </tbody>
        </table>
    </div>
    
    <script type="text/javascript" charset="utf-8">
    
        $(function() {
            var chatSocket = new WebSocket("@routes.Application.chat().webSocketURL()");
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data);

                // Handle errors
                if(data.error) {
                    chatSocket.close();
                    $("#onError span").text(data.error);
                    $("#onError").show();
                    return
                } else {
                    $("#stats").show();
                }

                var buff = "";
                $(data.stats).each(function() {
                    buff += '<tr><td>' + this.nbLikes + '</td> <td>' + this.confName + '</td></tr>';
                })
                $("#stats_entries").html(buff);
            }
            
            
            chatSocket.onmessage = receiveEvent;
            chatSocket.onclose = function(){
                console.log("c'est fini les cocos");
            }  
        })
    
    </script>
    
}
